# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
env/
venv/
ENV/
.venv

# Ignore build artifacts
build/
dist/
*.spec

*.txt
p.md
.aider*

.ruff_cache
.git
prompt.md

# Ignore user settings
settings.json
