# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
env/
venv/
ENV/
.venv

# Ignore build artifacts
build/
dist/
*.spec

# Ignore temporary and cache files
.ruff_cache
.aider*

# Ignore user settings
settings.json

# Ignore specific files
p.md
prompt.md
